<div class="container">
  <div class="row">
    <div class="col">
      <img src="assets/img/fish-with-glasses.jpg" alt="Blue Fish with Sun Glasses"  width="400" height="200">
    </div>
    <div class="col-8">
      <h1>Welcome!</h1>
      <br>
      <br>
      <h2>Table of Contents</h2>

      <ul>
        <li>Array</li>
        <ul>
          <li>Concatenate - This method is used to merge two or more arrays. This method does not change the existing arrays, but instead returns a new array.</li>
        </ul>
        <ul>
          <li>Copy Within - Copies array elements to another position in an array, overwriting the existing values.</li>
        </ul>
        <ul>
          <li>Entries - Array Iterator object that contains the key/value pairs for each index in the array.</li>
        </ul>
        <ul>
          <li>Every- The every() method tests whether all elements in the array pass the test implemented by the provided function. It returns a Boolean value.</li>
        </ul>
        <ul>
          <li>Fill - Fill all the array elements with a static value.</li>
        </ul>
        <ul>
          <li>Filter - The filter() method creates a new array with all elements that pass the test implemented by the provided function.</li>
        </ul>
        <ul>
          <li>Find - Get the value of the first element in the array that meets the criteria.</li>
        </ul>
        <ul>
          <li>Find Index - Get the index of the first element in the array that has a value of the criteria</li>
        </ul>
        <ul>
          <li>For Each - List each item in the array.</li>
        </ul>
        <ul>
          <li>From - Create an Array from another array. Pass in fuction to change initial array.</li>
        </ul>
        <ul>
          <li>Includes - Search an array for the item and return the index of that value.</li>
        </ul>
        <ul>
          <li>Is Array - Check whether an object is an array.</li>
        </ul>
        <ul>
          <li>Join - Convert the elements of an array into a string.</li>
        </ul>
        <ul>
          <li>Keys - Create an Array Iterator object, containing the keys of the array.</li>
        </ul>
        <ul>
          <li>Last Index Of - Search an array for the item. If there are many times certain item is in the array will return last index.</li>
        </ul>
        <ul>
          <li>Map - The Map object holds key-value pairs and remembers the original insertion order of the keys.</li>
        </ul>
        <ul>
          <li>Pop - Remove the last element of an array.</li>
        </ul>
        <ul>
          <li>Prototype - Create a method on the array.</li>
        </ul>
        <ul>
          <li>Push - Add a new item to an array.</li>
        </ul>
        <ul>
          <li>Reduce - The reduce() method executes a user-supplied “reducer” callback function on each element of the array, passing in
            the return value from the calculation on the preceding element.</li>
        </ul>
        <ul>
          <li>Reduce Right - The reduceRight() method applies a function against an accumulator and each value of the array (from right-to-left) to reduce it to a single value.</li>
        </ul>
        <ul>
          <li>Reverse - Reverse the order of the elements in an array.</li>
        </ul>
        <ul>
          <li>Shift - Remove the first item of an array.</li>
        </ul>
        <ul>
          <li>Slice - The slice() method returns a shallow copy of a portion of an array into a new array object selected from start to end (end not included) where start and end represent the index of items in that array. The original array will not be modified.</li>
        </ul>
        <ul>
          <li>Some - The some() method tests whether at least one element in the array passes the test implemented by the provided function. It returns true if, in the array, it finds an element for which the provided function returns true; otherwise it returns false. It doesn't modify the array.</li>
        </ul>
        <ul>
          <li>Sort - The sort() method sorts the elements of an array.</li>
        </ul>
        <ul>
          <li>Splice - The splice() method changes the contents of an array by removing or replacing existing elements and/or adding new elements</li>
        </ul>
        <ul>
          <li>To String - Convert an array to a string.</li>
        </ul>
        <ul>
          <li>Unshift - The unshift() method adds one or more elements to the beginning of an array and returns the new length of the array.</li>
        </ul>
        <ul>
          <li>Value Of - The valueOf() method returns the primitive value of the specified object.</li>
        </ul>

        <li>String</li>
        <ul>
          <li> - </li>
        </ul>
        <ul>
          <li> - </li>
        </ul>
        <ul>
          <li> - </li>
        </ul>
        <ul>
          <li> - </li>
        </ul>
      </ul>

    </div>
  </div>
</div>


